.detailsBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.details {
    color: #cfcfcf;
    text-decoration: none;

    &:hover {
        color: #09f;
        text-decoration: underline;
    }
}