.resetButton {
  background-color: #003659;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin-block: .5rem;
}

.resetButton:hover {
  background-color: #002d47;
  transform: scale(1.1);
  transition: all 0.5s ease;
  outline: none;
}

.resetButton:active {
  transform: scale(0.9);
  transition: all 0.5s ease;
}
